In [1]:
import pandas as pd 
df = pd.read_csv("fake_data.csv")
df

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,135,66,1,3,6,18,6,6,6.000000,0.000000,...,20,0.000000e+00,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0,0,0
1,35216,86,1,1,0,0,0,0,0.000000,0.000000,...,32,0.000000e+00,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0,0,0
2,80,4,2,0,0,0,0,0,0.000000,0.000000,...,32,0.000000e+00,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0,0,1
3,80,767,2,0,0,0,0,0,0.000000,0.000000,...,32,0.000000e+00,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0,0,1
4,80,195,2,0,12,0,6,6,6.000000,0.000000,...,20,0.000000e+00,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542322,443,116717467,215,269,3531,442479,445,0,16.423256,66.306090,...,20,1.129869e+05,2.816897e+05,1007459,30964,9.613468e+06,1.341545e+06,10000000,5353517,0
542323,443,115666531,187,262,1863,421792,357,0,9.962567,39.821830,...,20,7.455245e+04,1.711842e+05,590692,22793,1.000000e+07,8.384683e+02,10000000,9999508,0
542324,443,117799511,179,279,3380,367333,564,0,18.882682,65.808137,...,20,3.758660e+05,3.993513e+05,658250,93482,5.850000e+07,6.301792e+05,58900000,58000000,0
542325,80,43379957,203,265,1588,457315,448,0,7.822660,38.418850,...,20,4.670388e+05,9.039755e+05,1823002,14960,9.958664e+06,8.096185e+04,10000000,9837284,0
542326,443,37929842,200,233,4030,470737,578,0,20.150000,85.482770,...,20,2.795025e+06,4.584983e+06,8089307,147778,9.848255e+06,2.485712e+05,9992594,9561231,0

In [2]:
names = df.columns
for name in names:
    df[name] = df[name].astype("str")

In [3]:
data = []
for r in range(300):
    data_row = []
    for i in range(len(names)):
        data_row.append(df.iloc[r,:][i])
    data.append(data_row)

tests = []
for ele in data:
        txt = ','.join(ele)
        tests.append(txt)

dic = {"row_data" :tests}
fake_data = pd.DataFrame(dic)
fake_data.head()

                                            row_data
0  135,66,1,3,6,18,6,6,6.0,0.0,6,6,6.0,0.0,363636...
1  35216,86,1,1,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,2...
2  80,4,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,50000...
3  80,767,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,260...
4  80,195,2,0,12,0,6,6,6.0,0.0,0,0,0.0,0.0,61538....

In [4]:
dic = {"row_data" :tests}
fake_data = pd.DataFrame(dic)
fake_data

                                              row_data
0    135,66,1,3,6,18,6,6,6.0,0.0,6,6,6.0,0.0,363636...
1    35216,86,1,1,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,2...
2    80,4,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,50000...
3    80,767,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,260...
4    80,195,2,0,12,0,6,6,6.0,0.0,0,0,0.0,0.0,61538....
..                                                 ...
295  54806,48,1,1,6,6,6,6,6.0,0.0,6,6,6.0,0.0,25000...
296  443,49,2,0,12,0,6,6,6.0,0.0,0,0,0.0,0.0,244897...
297  80,3,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,66666...
298  80,3,2,0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,66666...
299  5353,16,12,0,540,0,45,45,45.0,0.0,0,0,0.0,0.0,...

[300 rows x 1 columns]

In [5]:
fake_data.to_csv("test.csv")